<div class="container-fluid" style="height: 100vh;" id="main-container">
    <div class="row" style="height: 100%; z-index: 1000;">
        <div class="d-none d-lg-inline col-lg p-3" id="img-col" style="height: 100%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; z-index: 1000;">
            <h3 class="h3-responsive white-text">Loan <i class="fas fa-dot-circle ml-2"></i></h3>
            <img src="../../assets/img/login4.svg" alt="" style="width: 100%; height: 100%;">
        </div>
        <!-- form col -->
        <div class="col-12 col-lg" style="height: 100%; border-top-left-radius: 50%; border-bottom-left-radius: 50%;" id="form-col">
            <div class="row bg-white border-radius mx-1 mx-lg-5 hover float-right" id="segment-btn" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                <div class="col border-radius text-center p-2 segment" [class.bg-primary] = "this.segment == 'login'" [class.white-text] = "this.segment == 'login'" (click) = "switchSegment('login')">
                    Login
                    <!-- <button class="btn btn-bg btn-block white-text float-right m-0"> <mdb-icon fas icon="sign-in-alt"></mdb-icon> login </button> -->
                </div>
                <div class="col border-radius text-center p-2 segment" (click) = "switchSegment('register')" [class.bg-primary] = "this.segment == 'register'" [class.white-text] = "this.segment == 'register'">
                    Register
                    <!-- <button class="btn btn-bg btn-block white-text float-right m-0"> <mdb-icon fas icon="sign-in-alt"></mdb-icon> login </button> -->
                </div>
            </div>
            <!-- login segment -->
            <div *ngIf = "segment =='login'" id="login-segment" class="card-type bg-white border-radius p-5 mx-1 mx-lg-5 float-right animate__animated animate__slideInLeft animate__faster">
                <h4 class="h4-responsive text-dark font-weight-bold">login</h4>
                <form #loginForm = "ngForm" method = "POST">
                    <!-- login -->
                    <div class="md-form">
                        <input mdbInput type="email" id="email" class="form-control">
                        <label for="email" class="">Email</label>
                      </div>
                      <!-- password -->
                    <div class="md-form">
                        <input mdbInput type="password" id="password" class="form-control">
                        <label for="password" class="">password</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-sm mt-1 float-left">forgotten password?</button>
                            <button class="btn bg-primary border-radius white-text mt-1 float-right" (click) = "login()"> <mdb-icon fas icon="sign-in-alt"></mdb-icon> login </button>
                        </div>
                    </div>
                </form>
                <hr class="w-100 bg-primary">
                <div class="row">
                    <div class="col"><p>Don't have an account?</p></div>
                    <div class="col"><button class="btn btn-sm primary-outline float-right" (click) = "switchSegment('register')">register</button></div>
                </div>
            </div>
            <!-- register segment -->
            <div *ngIf = "segment =='register'" id="reg-segment" class="card-type bg-white border-radius py-3 px-5 mx-1 mx-lg-5 mt-4 float-right animate__animated animate__slideInLeft animate__faster">
                <h4 class="h4-responsive text-dark font-weight-bold">register</h4>
                <form #regForm = "ngForm" method = "POST">
                    <!-- name -->
                    <div class="md-form">
                        <input mdbInput type="text" id="reg-name" class="form-control">
                        <label for="reg-name" class="">Username</label>
                    </div>
                    <!-- password -->
                    <div class="md-form">
                        <input mdbInput type="password" id="reg-password" class="form-control">
                        <label for="reg-password" class="">Password</label>
                    </div>
                    <!-- repeat password -->
                    <div class="md-form">
                        <input mdbInput type="password" id="rep-password" class="form-control">
                        <label for="rep-password" class="">Repeat password</label>
                    </div>
                    <!-- email -->
                    <div class="md-form">
                        <input mdbInput type="email" id="reg-email" class="form-control">
                        <label for="reg-email" class="">Email</label>
                    </div>
                    <!-- phone number -->
                    <div class="md-form">
                        <input mdbInput type="number" id="phone-number" class="form-control">
                        <label for="phone-number" class="">phone number</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-sm float-left">forgotten password?</button>
                            <button class="btn bg-primary border-radius white-text mt-1 float-right"> <mdb-icon fas icon="sign-in-alt"></mdb-icon> register </button>
                        </div>
                    </div>
                </form>
                <hr class="w-100 bg-primary">
                <div class="row">
                    <div class="col"><p>have an account?</p></div>
                    <div class="col"><button class="btn btn-sm primary-outline float-right" (click) = "switchSegment('login')">login</button></div>
                </div>
            </div>
            <footer class="fixed-bottom text-center">
                <small class="text-primary">Loan &copy; 2020. Developed by <a class="text-dark" href="mailto:sumaila.bello@rocketmail.com">Bello Sumaila</a></small>
            </footer>
        </div>
    </div>
</div>
